.navbar {
    box-shadow: 0px 2px 5px 0px #DBDBDB;
}

#reynoldSumDiv, #calcCoefDiv, #dragForceDiv, #calcDvel {
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#visc_row {
    margin-top: 4px;
}

#calcButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
}